body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
html{
    font-size: 120%;
}
main{
    background-color: #080808;
    padding: 1em;
    color: #fff;
    text-align: center;
}
section{
    margin: 1em;
}
img{
    width: 100px;
    margin: auto;
}
.links{
    margin-top: 1em;
}
a{
    background-color: #fff;
    padding: .4em;
    border-radius: 5px;
    text-decoration: none;
}
label{
    color: purple;
}